.menu-button {
  font-size: 16px;
  font-weight: bold;
  color: #2E7D32; /* Green text */
  text-transform: none;
  margin-right: 20px;
}
.navbar-link {
  font-weight: bold;
}
.arrow {
  margin-left: 5px;
  font-size: 12px;
}

.MuiMenu-paper {
  border: 1px solid #2E7D32; /* Border for dropdown */
  padding: 50px;
}

.MuiMenuItem-root {
  font-size: 14px;
  padding: 10px 20px;
}

img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
